Flask
scikit-learn
pandas
joblib
SpeechRecognition
numpy
flask-cors
pytesseract 
pillow 
flask
pytesseract
opencv-python
CORS
gdown
flask
scikit-learn
pandas
numpy
joblib 
xgboost
imbalanced-learn
imblearn
lightgbm
catboost
uvicorn
fastapi
torch
transformers
sentencepiece
librosa
soundfile
torchvision
python-dotenv
python-multipart
openai-whisper
ffmpeg-python
